
.container__our_rooms {
  font-family: sans-serif;
  margin: 100px 157px 100px 157px;
}


.container__title_our_rooms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title__our_rooms {
  display: flex; 
  align-items: center;
  gap: 10px;
}

.title__our_rooms::before,
.title__our_rooms::after {
  content: "";
  flex: 0 0 30px;
  height: 3px;
  background-color: #616161;
}

.title__our_rooms span {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  color: #616161;
}

.main_title__our_rooms {
  display: flex;
  justify-content: center;
}

.text__main_title_our_rooms {
  color: #424242;
  font-size: 40px;
  line-height: 110px;
  font-weight: bold;
}





.container__list_of_cards_rooms {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.room_card {
  background: #ffffff;
  width: 380px;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.room_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.room_card__image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  overflow: hidden;
}

.room_card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}


.room_card__info {
  padding: 16px;
  text-align: center;
}

.room_card__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #424242;
  text-transform: uppercase;
}

.room_card__price {
  color: #616161;
  font-size: 16px;
}