footer {
  padding: 100px 80px 100px 124px;
}

.container__main_content-footer {
  display: flex;
  justify-content: space-around;
}
.control_container__footer_navigation {
  display: flex;
  gap: 70px;
}

.name__company {
  color: #424242;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 120%;
}
.container__conclusion_info-footer {
  margin-top: 24px;
  display: grid;
  gap: 16px;
}
.conclusion__text_company {
  font-size: 14px;
  font-family: sans-serif;
  color: #9e9e9e;
  line-height: 140%;
}
.text__company_communication-mail {
  font-size: 14px;
  font-family: sans-serif;
  color: #9e9e9e;
  line-height: 140%;
}

.navigation__footer {
  display: flex;
}

.title__navigation_footer-link {
  color: #424242;
  line-height: 140%;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}
.list__navigation_footer-links {
  list-style-type: none;
  display: grid;
  gap: 16px;
  padding-left: 0;
}
.container_title__footer_navigation {
  margin-bottom: 24px;
}
.navigation__footer-main ul li a {
  color: #9e9e9e;
  line-height: 140%;
  text-decoration: none;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}
